# Archivos específicos
datosBot/

# Eliminar todos los python cache
*.pyc
**/__pycache__/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# Docker
.dockerignore
docker-compose.override.yml

# IDE / Editor specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?